body {
  background-color: #eceff1;
}

.container {
  margin-top: 5vw;
  background-color: #d8dee3;
  padding: 1rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card {
  margin: 5vh;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body button {
  display: block;

  margin-top: 1rem;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
}

.btnNovaPergunta {
  width: 100%;
  margin: 1rem auto 0 auto;
}

.buttonsPerguntar {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footerTempo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    opacity: .4;
    font-size: smaller;
}

.RespostaVazia {
  margin-top: 1rem;
  opacity: .4;
}